@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-tabs-tab {
  margin: 0 !important;
  min-width: 80px !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-tabs-content-holder {
  height: 100%;
  
}

.ant-tabs-content {
  height: 100%;
}

.ant-tabs-tabpane {
  height: 100%;
}