@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-tabs-tab {
  margin: 0 !important;
  min-width: 80px !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-tabs-content-holder {
  height: 100%;
}

.ant-tabs-content {
  height: 100%;
}

.ant-tabs-tabpane {
  height: 100%;
}

.zoom-in-out-element {
  animation: zoom-in-zoom-out 1.5s ease none;
}
@keyframes zoom-in-zoom-out {
  0% {
    scale: 100%;
  }
  25% {
    scale: 125%;
  }
  50% {
    scale: 100%;
  }
  75% {
    scale: 125%;
  }
  100% {
    scale: 100%;
  }
}